* {
    margin: 0px;
    padding: 0px;
}

/*----------------------- header para todas las paginas ---------------------- */
header {
    font-family: 'Roboto Mono', monospace;
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.773);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding-bottom: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img{
    margin-top: 15px;
    width:70px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header li:hover{
    transition: .7s;
    transform: scale(1.1);
}

.animate__animated.animate__fadeInDown{
    --animate-duration: 2.5s;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}


header li {
    list-style: none;
    margin-right: 15px;

}

/*------------------- footer para todas las paginas ------------ */
footer {
    grid-area: footer;
    background-color: black;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(to top, rgb(49, 49, 49), rgb(36, 36, 36) , rgb(0, 0, 0));
}

footer i {
    margin-top: 15px;
    color: aliceblue;
    font-size: 25px;
    margin-right: 15px;
}

footer i:hover{
    transition: .3s;
     transform: scale(1.2);
}

/* -----------------------------inicio------------------------ */
.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "titulo titulo titulo titulo"
        "innew innew innew innew"
        "articulos articulos articulos articulos "
        "footer footer footer footer";
    background-image: url(./jkll.\,.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 130px 0px 100px 0px;
    font-size: 4rem;
}


.animate__animated.animate__fadeIn{
    --animate-duration: 3.5s;
}


.innew {
    grid-area: innew;
    margin-top: 155px;

}

.innew img {
    width: 100%;
}

.articulos {
    grid-area: articulos;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.articulos img:hover{
    transition: .9s;
    transform: scale(1.1);

    }

/* ------------------------nuevo-------------------- */
.nuevo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "venta venta venta venta"
        "footer footer footer footer";
}

.venta {
    grid-area: venta;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0px 150px 0px;
}

.ropa {
    border: solid 1px rgb(168, 167, 167);
    transition: all 1.5s;
}

.ropa:hover{
        transition: .7s;
        transform: scale(1.1);
}

.ropa a {
    text-decoration: none;
    color: black;
}

.ropa h3 {
    margin-left: 15px;
    margin-top: 10px;
}

.ropa h4 {
    margin-top: 10px;
    margin-left: 15px;
}

/*---------------------------- tienda ------------------------ */
.tienda {
    display: grid;
    grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
    grid-template-columns: 1fr 0.9fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "menu prendas prendas prendas"
        "menu prendas prendas prendas"
        "menu prendas prendas prendas"
        "footer footer footer footer";
}

.menu {
    grid-area: menu;
    border: solid 1px rgb(168, 167, 167);
    padding: 20px;
    width: 125px;
    height: 290px;
    margin: 50px 0px 0px 25px;
}

.menu li{
list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
    width: 90px;
}

.menu h3 {
    padding-bottom: 15px;
}

.prendas {
    grid-area: prendas;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px 35px 15px;
}

.producto {
    border: solid 1px rgb(168, 167, 167);
    margin-bottom: 25px;
    transition: all 2s;
}

.producto a {
    color: black;
    text-decoration: none;
}

.producto h3 {
    margin: 15px;
}

.producto h4 {
    margin: 0px 0px 15px 15px;
}

.producto:hover{
    transition: .7s;
    transform: scale(1.1);
}

/*--------------------------- nosotros------------ */

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-template-areas:
        "header header header header"
        "centro centro centro centro"
        "footer footer footer footer";
    background-image: url(./26911ada5ae8f49c6790b8d9629911a5.jpg);
}

.centro {
    grid-area: centro;
    display: flex;
    min-height: 65vh;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px 50px 0px;
    width: 100%;
    flex-wrap: wrap;
}

.informacion {
    
    color: aliceblue;
    text-align: center;
    padding: 60px 35px 60px 35px;
    background-color: rgba(0, 0, 0, 0.571);
    animation-name:cambioancho; 
    animation-duration:3s;
}

.informacion p {
    font-size: 20px;
    width: 250px;
}


/* -------------------------iniciar cuenta-------------------- */
.sesion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "formulario formulario formulario formulario"
        "footer footer footer footer";
    background-color: rgb(212, 163, 183);

}

.formulario {
    grid-area: formulario;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

form {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.429);
    padding: 86px 137px 86px 137px;
    border: none;
}

input {
    margin: 5px;
    border: none;
    width: 250px;
    height: 30px;
    outline: none;
    animation-name:cambiodeancho; 
    animation-duration:5s;
    transition: all 2s;
}

input:hover{
    transition: .9s;
    transform: scale(1.1);
}

/* animaciones */
@keyframes cambiodeancho{

0%{
 width: 350px;
}    

100%{
    width: 250px;
}

}
@keyframes cambioancho{

       0%{
        width: 300px;
       }    
       
       100%{
           width: 250px;
       }
}



@media (max-width:425px) {

    /*---------------------inicio--------------------*/
    .inicio {
        background-image: url(./fondocel.\,.jpg);

    }

    .titulo {
        margin-top: 80px;
        font-size: 2rem;
    }

    .innew {
        margin-top: 70px;
    }

    .articulos {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 30px 0px 30px 0px;
    }

    .articulos img {
        width: 160px;
        height: 184px;
        margin-bottom: 15px;

    }

    /*------------------------------ nuevo ---------------------*/

    .venta {
        margin: 80px 0px 80px 0px;
    }

    .ropa {
        max-width: 160px;
        margin-bottom: 15px;
    }

    .ropa img {
        max-width: 160px;
    }

    .ropa {
        font-size: 15px;
    }


    /*------------------------------ tienda----------------------- */
    .menu {
        border: none;
        width: 70px;
        margin-top: 50px;
        margin-left: 0px;
        padding: 15px 0px 0px 15px;
    }

    .menu li {
        list-style: none;
    }

    .prendas {
        margin-left: 0px;
    }

    .producto {
        max-width: 130px;
        justify-content: space-evenly;

    }

    .producto img {
        max-width: 130px;

    }

    .producto h3 {
        margin: 10px;
        font-size: 14px;
    }


    /*-------------------------- header------------ */

    .logo img {
        width: 90px;
    }

    header a {
        font-size: 11px;
    }

    /*--------------------------- nosotros------------------ */
    .informacion {
        margin-bottom: 25px;
    }

    .informacion p {
        font-size: 15px;
        width: 250px;
    }

    /*--------------------------- iniciar sesion------------------ */
    form {
        padding: 90px 60px 90px 60px;
    }


}
@media (max-width:320px){
    /* header */
.lista-index{
    margin-left: 5px;
    margin-right: 0px;
}

.lista-index a{
    font-size: 10px;
}

    .logo img{
        width: 50px;
    }
}